absl-py==1.4.0
attrs==23.1.0
cffi==1.15.1
contourpy==1.0.7
cycler==0.11.0
flatbuffers==23.5.26
fonttools==4.39.4
importlib-resources==5.12.0
kiwisolver==1.4.4
matplotlib==3.7.1
mediapipe==0.10.8
numpy==1.24.4
opencv-contrib-python==4.8.1.78
opencv-python==4.5.5.64
cupy-cuda11x
packaging==23.1
Pillow==9.5.0
protobuf==3.20.3
pycparser==2.21
pyparsing==3.0.9
python-dateutil==2.8.2
six==1.16.0
scipy==1.13.1
sounddevice==0.4.6
zipp==3.15.0